<h1>Modifica Tipo Spesa</h1>

<div>
    <label for="Descrizione">Descrizione</label>
    <input type="text" id="Descrizione" name="Descrizione">

    <p>
        <button type="button" class="btn btn-success my-1">Modifica</button>
    </p>
</div>
